/* css/style.css */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

div {
    height: 100%;
}

.title {
	position: absolute;
    font-size: 60px;    /* 文字サイズ指定 */
    color: #FFFFFF;     /* 文字色指定 */
    text-align:center;
}

.back {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像をアスペクト比を維持したまま、div全体にフィットさせる */
}

.coin {
    position: absolute;
    top: 70%;
    left: 33%;
    transform: translate(-50%, -50%);
    width: 65%; /* コイン画像のサイズを適宜調整 */
}
